src/main/mule/DeleteContactMySQL.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="DeleteContactMySQLFlow" doc:id="96c51173-994c-477d-859b-5b36ac10f4c0" >
		<salesforce:deleted-object-listener objectType="contact" doc:name="On Deleted Object" doc:id="72d377bf-f8bb-45a4-b973-597c7b640c24" config-ref="Salesforce_Config">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</salesforce:deleted-object-listener>
		<ee:transform doc:name="Transform Message" doc:id="e0f23610-6f3f-4827-a49f-d93339fb12b4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	name: payload.Name__c default ""
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="2afcca45-89db-4759-a689-bb318ec16f32" >
			<db:delete doc:name="Delete" doc:id="76c629e8-1b3d-4356-9da5-420ce0189946" config-ref="Database_Config">
			<db:sql><![CDATA[DELETE FROM BH_DContact WHERE name = :name]]></db:sql>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:delete>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="56109a21-b250-4854-b46c-7d1aaa33c8a4" message="#[payload]"/>
	</flow>
</mule>
