src/main/mule/UpdateContactEmail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="UpdateContactEmailFlow" doc:id="7c2e0c88-8336-4b0e-b890-1c9dd361efb7" >
		<http:listener doc:name="Listener" doc:id="18044b04-42a3-4c61-966f-fd40c7f4d10a" config-ref="HTTP_Listener_config" path="update"/>
		<salesforce:query doc:name="Query" doc:id="8ca47aa2-ae5e-458a-9672-5e19fa3d243d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Emaill__c, Name__c FROM contact where Emaill__c != NULL]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="6d9849c5-57a0-4f9a-8a69-6039c1cf2ecd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name : payload.Name__c,
	email : payload.Emaill__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="41783c8c-b132-4e4f-8137-41ca8b875ebf" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE BH_DContact SET email = :email WHERE name = :name]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="33d29bad-ab31-438e-abdb-17c98bfc3cab" message="#[payload]"/>
	</flow>
</mule>
